
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.header h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: #000000;
}
.header img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}
.article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.article__card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.article__card--img{
    width: 150px;
    height: auto;
    border-radius: 8px;
}
.article__card--content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.article__card--title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
}
.article__card--date{
    font-size: 0.875rem;
    font-weight: 500;
    color: #4D5562;
}
.author-info {
  text-align: center;
  font-size: 0.9rem;
  color: #777;
  margin-top: 40px;
}

@media (min-width: 768px) {
    .main{
        max-width: 710px;
        margin: 0 auto;
    }
    .article{
        gap: 40px;
    }
  .article__card {
    flex-direction: row;
    align-items: center;
    gap: 40px;

  }
  .article__card--img {
    width: 150px;
  }
  .article__card--content {
    gap: 20px;
  }
 
}