@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
  
  
}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newsletter__title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
.newsletter_description p{
    font-size: 1rem;
    color: #666;
    text-align: center;
}
.card{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}
.card__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.card__inputs--email{
    width: 100%;
    padding: 15px;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #fff;
    text-align: center;
}
.card__inputs--btn{
    width: 100%;
    padding: 15px;
    background-color: #284BCE;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}
.card__description{
    font-size: 0.875rem;
    color: #666;
}
.author-info{
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #333;
}